<div
  *ngIf="visible"
  [@popupAnimation]
  class="popup-overlay"
  (click)="onOverlayClick($event)"
>
  <div class="popup-content">
    <h5 class="text-center mb-4">Dodaj nową kategorię</h5>

    <form (ngSubmit)="onConfirm()">
      <div class="form-floating mb-3">
        <input
          type="text"
          id="categoryName"
          class="form-control"
          [(ngModel)]="categoryName"
          name="categoryName"
          placeholder="Nazwa kategorii"
          maxlength="255"
          required
        />
        <label for="categoryName">Nazwa kategorii</label>
      </div>

      <div class="form-floating mb-3" *ngIf="canEditUserId">
        <select
          id="taskUser"
          class="form-select"
          [(ngModel)]="categoryUserId"
          name="taskUser"
          required
        >
          <option value="" disabled selected>Wybierz użytkownika</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.username }}
          </option>
        </select>
        <label for="taskUser">Użytkownik</label>
      </div>

      <div class="d-flex justify-content-end mt-4 gap-2">
        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="!categoryName"
        >
          <i class="fa fa-check me-1"></i> Zatwierdź
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          <i class="fa fa-xmark me-1"></i> Anuluj
        </button>
      </div>
    </form>
  </div>
</div>
