<div
  *ngIf="visible"
  class="popup-overlay"
  [@popupAnimation]
  (click)="onOverlayClick($event)"
>
  <div class="popup-content">
    <h5 class="text-center mb-4">Edytuj kategorię</h5>

    <form (ngSubmit)="onConfirm()">
      <div class="form-floating mb-3">
        <input
          type="text"
          id="categoryName"
          class="form-control"
          [(ngModel)]="categoryName"
          name="categoryName"
          placeholder="Nazwa kategorii"
          required
        />
        <label for="categoryName">Nazwa kategorii</label>
      </div>

      <div class="form-floating mb-3" *ngIf="canEditUserId">
        <select
          id="categoryUser"
          class="form-control"
          [(ngModel)]="selectedUsername"
          name="categoryUser"
          required
        >
          <option *ngFor="let user of users" [value]="user.username">
            {{ user.username }}
          </option>
        </select>
        <label for="categoryUser">Użytkownik</label>
      </div>

      <div class="d-flex justify-content-end mt-4 gap-2">
        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="!categoryName"
        >
          <i class="fa fa-check me-1"></i> Zatwierdź
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          <i class="fa fa-xmark me-1"></i> Anuluj
        </button>
      </div>
    </form>
  </div>
</div>
